<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/login/css/index.css" />
    <script
      src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
      charset="utf-8"
    ></script>
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  </head>

  <body>
    <div class="p-8">
      <h3 class="text-4xl font-bold text-center mt-8">ํ์ํฉ๋๋ค ๐</h3>
      </div>
      <div class="p-8">
      <h3 class="text-4xl font-bold text-center mt-8">๋ก๊ทธ์ธ</h3>
    </div>
      <div class="flex flex-col mt-12 items-center space-y-2">
        <a class="hidden" id="naver_id_login"></a
        >
        <a class="primary-btn" id="kakao-login" >
          <img class="logo" src="/login/logos/kakao.png" />
          <div class="text text-lg">์นด์นด์ค ๋ก๊ทธ์ธ</div>
        </a>
        <a class="primary-btn" id="fb-login"
          ><img class="logo" src="/login/logos/facebook.png" />
          <div class="text text-lg">Facebook์ผ๋ก ๋ก๊ทธ์ธ</div> </a
        >
        <a class="primary-btn" id="naver-login" href="/oauth/naver"
          ><img class="logo" src="/login/logos/naver.png" />
          <div class="text text-lg">๋ค์ด๋ฒ ์์ด๋๋ก ๋ก๊ทธ์ธ</div>
        </a>
      </div>
    </div>
  </body>
</html>
